@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans&display=swap");
html {
  margin: 0;
  padding: 0;
  font-family: "Kumbh Sans", sans-serif;
  height: 100vh;
  box-sizing: border-box;
  font-size: 100%;
}
body {
  margin: 0;
  padding: 0;
  height: 100%;
}
.main-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  background-image: linear-gradient(
    to bottom,
    hsl(273, 75%, 66%),
    hsl(240, 73%, 65%)
  );
}
/* FAQ Background Style */
.FAQmain{
  display: grid;
  width: 70%;
  height: 60%;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 1em;
  background-color: white;
  border-radius: 30px;
  padding: 1.5rem;
}
/* Questions (Buttons) Style */
.question {
  width: 95%;
  background-color: transparent;
  border: none;
  padding: .8rem;
  border-bottom: 1px solid gray;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  outline: none;
/* transition: all .3s; */
}

/* Hiding Answers */
.answer{
  display: none;
  padding-left: .5rem;
  padding-top: 0;
  overflow: hidden;
  max-height: 0;
  transition: all .2s ease-out;
}

/* Grid System */
.right{
order: 2;
}
.left{
order: 1;
}

/* Adding Arrows to question */
.question::after{
  content: url(images/icon-arrow-down.svg);
  transition: all .3s;
}



/* Active state */
.active{
  font-weight: bolder;
  transition: all .3s;
  border: none;
  padding-top: 1.3rem;
  padding-bottom: .3rem !important;
}
.active::after{
  content: url(images/icon-arrow-down.svg);
  transform: scaleY(-1);
  transition: all .3s;
}
.show{
  display: block;
  border-bottom: 1px solid gray;
  transition: all .3s;
}
.hide{
  display: none;
  transition: all .3s;
}